* {
  margin: 0;
  padding: 0;
}

.text {
  padding: 45px 0;
  background: #f3f5f8;
  text-align: center;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.text > .container > div:first-of-type {
  margin-top: 50px;
}

.contactItem {
  padding: 10px;
}
